<% layout('layouts/boilerplate.ejs') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <h3 class="text-muted">Add Course</h3>
    <div class="col">
      <div class="card-shadow">
        <div class="card-body">
          <form
            action="/courses"
            method="POST"
            novalidate
            class="validated-form"
          >
            <div class="mb-3">
              <label for="title">Title</label>
              <input
                type="text"
                id="title"
                name="title"
                class="form-control"
                autofocus
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="year">Year</label>
              <select name="year" id="year" class="form-select" required>
                <option selected>Select</option>
                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
                <option value="4">Fourth</option>
              </select>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="semester">Semester</label>
              <select
                name="semester"
                id="semester"
                class="form-select"
                required
              >
                <option selected>Select</option>
                <option value="Even">Even</option>
                <option value="Odd">Odd</option>
              </select>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="duration">Duration (in months)</label>
              <input
                type="number"
                id="duration"
                name="duration"
                class="form-control"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 form-group">
              <label for="subjects0"
                >Subjects (Enter exact names from the list)</label
              >
              <input
                type="text"
                name="subjects[]"
                id="subjects0"
                class="form-control mb-1"
                required
              />
              <input
                type="text"
                name="subjects[]"
                id="subjects1"
                class="form-control mb-1"
                required
              />
              <input
                type="text"
                name="subjects[]"
                id="subjects2"
                class="form-control mb-1"
                required
              />
              <input
                type="text"
                name="subjects[]"
                id="subjects3"
                class="form-control mb-1"
              />
              <input
                type="text"
                name="subjects[]"
                id="subjects4"
                class="form-control mb-1"
              />
              <div class="text-muted my-3">
                <ul>
                  <% for(let subjectTitle of subjectsTitles ){ %>
                  <li><%= subjectTitle %></li>
                  <% } %>
                </ul>
              </div>
              <button class="btn btn-success w-100" type="submit">
                Add Course
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
