<%- layout("layouts/boilerplate.ejs") %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <h3 class="text-muted">Search Students</h3>
    <div class="col">
      <div class="card-shadow">
        <div class="card-body">
          <form
            action="/studentsearch"
            method="POST"
            novalidate
            class="validated-form"
          >
            <div class="mb-3 form-group">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                id="firstName"
                name="firstName"
                class="form-control"
                autofocus
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 form-group">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                id="lastName"
                name="lastName"
                class="form-control"
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 form-group">
              <label for="course" class="form-label">Course</label>
              <select name="course" id="course" class="form-select">
                <option value="">Select</option>
                <% for(let course of coursesList){ %>
                <option value="<%=course.title%>"><%= course.title %></option>
                <% } %>
              </select>
            </div>
            <div class="mb-3 form-group">
              <label for="phoneNumber" class="form-label">Phone Number</label>
              <input
                type="number"
                id="number"
                name="phoneNumber"
                class="form-control"
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 form-group">
              <label for="emailAddress" class="form-label">Email Address</label>
              <input
                type="email"
                id="emailAddress"
                name="emailAddress"
                class="form-control"
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success w-100">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
