<%- layout("layouts/boilerplate.ejs") %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <h3 class="text-muted">Search Marks</h3>
    <div class="col">
      <form action="/listview" method="POST">
        <div class="form-group my-3">
          <label for="course" class="form-label">Course</label>
          <select name="course" id="course" class="form-select">
            <% for(let course of foundTeacher.courses){ %>
            <option value="<%=course.title%>"><%= course.title %></option>
            <% } %>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="description" class="form-label">Description</label>
          <select name="description" id="description" class="form-select">
            <option value="Mid-Sem">Mid-Sem</option>
            <option value="End-Sem">End-Sem</option>
          </select>
        </div>
        <button class="btn btn-primary w-100 mt-3">Search</button>
      </form>
    </div>
  </div>
</div>
